body
{
    background-image: url("#{resource['img/movieDesc.jpg']}");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: aqua;
    font-size: 150%;
}

h1
{
    font-size: 200%;
    color: blue;
}

