body
{
    background-color: lightcoral;
    background-image: url("#{resource['img/adminPages.png']}");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 300px 300px;
    text-align: center;
    color: greenyellow;
}

h1
{
    font-size: 300%;
}
form
{
    position: absolute;
    right: 45%;
    font-size: 200%;
}

.error
{
    color: red;
}

