body
{
    background-color: pink;
    color: blue;
    text-align: center;
}

.table
{
    font-size: 125%;
    background-color: antiquewhite;
    position: absolute;
    right: 25%;
    color: blue;
}

.title
{
    font-size: 125%;
    color: black;
}

.button
{
    background-color: greenyellow;
    color: black;
    font-size: 100%;
    position: absolute;
    right: 48%;
    bottom: 20%;
}



